body {
  background-color: rgb(37, 37, 37);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 100;
  letter-spacing: 15px;
}

input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  padding: 10px 0;
  width: 40%;
  display: block;
  margin: 1% auto 20px auto;
  padding-left: 20px;
}

select {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  width: 41.25%;
  display: block;
  margin: 0 auto 10px auto;
  padding: 5px 20px;
}

button {
  background-color: rgba(255, 255, 255, 0.995);
  border: none;
  border-radius: 30px;
  font-size: 20px;
  color: rgb(37, 37, 37);
  padding: 10px 0;
  width: 41.25%;
  display: block;
  margin: 0 auto 5% auto;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
  color: white;
  transition: 0.5s;
}

.output {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.output div {
  border: 1px solid white;
  padding: 50px;
  border-radius: 20px;
}

.output div h3 {
  text-align: center;
  font-size: 30px;
}

.output div p {
  margin-bottom: 20px;
}

.output div img {
  width: 100%;
  margin: 0 0 50px 0;
}

.output div button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
}
